:root {
  --background: #cae6ff;
  --on-background: #001e30;
  --on-on-background: white;
  --primary: #28638a;
}

@font-face {
  font-family: "bevan";
  /* change  */
  src: url("./assets/bevan.ttf");
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: "bevan";
  text-align: center;

  display: grid;
  justify-items: center;
  gap: 4rem;

  max-width: 75ch;

  background-color: var(--background);
  color: var(--on-background);
}

.logo {
  font-size: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.25rem 4rem;
  border: none;

  background-color: var(--primary);
  color: var(--on-on-background);
  border-radius: 9999px;

  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;

  transition: filter 150ms;
}
button:hover {
  filter: brightness(1.25);
}

figcaption {
  margin-top: 0.5rem;

  color: var(--primary);

  font-size: 3rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* css surgery (i'm too lazy to add another class to non-menu) */
ul:not(.menu) .card {
  max-width: 15rem;
  aspect-ratio: 1 / 1;
}
.card {
  padding: 3rem;

  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--on-on-background);
}
li {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-rows: repeat(2, max-content);
  gap: 0.5rem;
}
.menu li {
  align-content: space-between;
}

.menu div {
  font-size: 1.25rem;
  justify-self: start;
  text-align: start;

  display: grid;

  margin-top: 0.5rem;
}

p {
  color: var(--primary);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.75;
  letter-spacing: 1px;
}
